<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../../assets/css/meeting/style.css">
    <link rel="stylesheet" href="../../assets/css/pkg/semantic.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="../../assets/js/pkg/semantic.min.js"></script>
    <script>
      $(document).ready(function() {
        
      });
    </script>
    <title>就活座談会</title>
  </head>
  <body>
    <div class="ui container">

    </div>
  </body>
</html>
