<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/base02.css">
<title>sample5</title>
</head>

<body>
<div id="stage"> 
<!-- ヘッダー -->
  <header id="header">
    <h1 id="top"><img src="images/img_logo.jpg" alt="Responsive,Inc."></h1>
<video src="movie.m4v" width="100%" controls autoplay loop  preload="metadata"></video>
  <source src="movie.webm" type='video/webm; codecs="vp8, vorbis"' />
</video>
  </header>
  

  
<!-- コンテンツエリア -->
  <div id="contents" class="cf"> 
    <section id="work" class="cf">

      <article>
          <a href="#"><img src="images/img_works1.jpg" width="184" height="250" alt="work1" onmouseover="this.src='images/img_works4.jpg'" onmouseout="this.src='images/img_works1.jpg'"></a>
        <p></p>
      </article>
      <article>
          <a href="#"><img src="images/img_works2.jpg" width="184" height="250" alt="work1"
onmouseover="this.src='images/img_works4.jpg'" onmouseout="this.src='images/img_works2.jpg'"></a>
        <p></p>
      </article>
      <article>
          <a href="#"><img src="images/img_works3.jpg" width="184" height="250" alt="work1"
onmouseover="this.src='images/img_works4.jpg'" onmouseout="this.src='images/img_works3.jpg'"></a>
        <p></p>
      </article>

    </section>


         
      
      
      

    <section id="information">

      <ul>
        <li><a href="#"><img src="images/bnr_recuruit.jpg" alt="recruit"
onmouseover="this.src='images/bnr_over.jpg'" onmouseout="this.src='images/bnr_recuruit.jpg'"></a></li>
        <li><a href="#"><img src="images/bnr_service.jpg" alt="ourservices
"onmouseover="this.src='images/bnr_over.jpg'" onmouseout="this.src='images/bnr_service.jpg'"></a></li>
      </ul>
    </section>
  </div>
  
<!-- ページトップへボタン -->

<!-- フッター -->
  <footer id="footer">
    <div>
      <p>宮崎ゼミ18期<br>同志社大学経済学部経済学科<br>京都府京都市上京区</p>
      <small>2017.miyazki18 </small>
    </div>
  </footer>
  
</div>
</body>
</html>
