<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="../assets/css/reset.css">
  <link rel="stylesheet" href="../assets/css/base02.css">
<title>sample5</title>
</head>

<body>
  <!-- header -->
  <div id="stage"> 
    <header id="header">
      <h1 id="top"><img src="../assets/images/img_logo.jpg" alt="Responsive,Inc."></h1>
      <video src="../assets/movies/movie.m4v" width="100%" controls autoplay loop  preload="metadata"></video>
    </header>
  </div>

  <!-- main content -->
  <div id="contents" class="cf"> 
    <section id="work" class="cf">
      <article>
        <a href="#"><img src="../assets/images/img_works1.jpg" width="184" height="250" alt="work1" onmouseover="this.src='../assets/images/img_works4.jpg'" onmouseout="this.src='../assets/images/img_works1.jpg'"></a>
        <p></p>
      </article>
      <article>
        <a href="senior/index.html"><img src="../assets/images/img_works2.jpg" width="184" height="250" alt="work1" onmouseover="this.src='../assets/images/img_works4.jpg'" onmouseout="this.src='../assets/images/img_works2.jpg'"></a>
        <p></p>
      </article>
      <article>
        <a href="meeting/index.html"><img src="../assets/images/img_works3.jpg" width="184" height="250" alt="work1" onmouseover="this.src='../assets/images/img_works4.jpg'" onmouseout="this.src='../assets/images/img_works3.jpg'"></a>
        <p></p>
      </article>
    </section>

    <section id="information">
      <ul>
        <li><a href="#"><img src="../assets/images/bnr_recuruit.jpg" alt="recruit" onmouseover="this.src='../assets/images/bnr_over.jpg'" onmouseout="this.src='../assets/images/bnr_recuruit.jpg'"></a></li>
        <li><a href="#"><img src="../assets/images/bnr_service.jpg" alt="ourservices" onmouseover="this.src='../assets/images/bnr_over.jpg'" onmouseout="this.src='../assets/images/bnr_service.jpg'"></a></li>
      </ul>
    </section>
  </div>

  <!-- footer -->
  <div id="footer">
    <footer>
      <div>
        <p>宮崎ゼミ18期<br>同志社大学経済学部経済学科<br>京都府京都市上京区</p>
        <small>2017.miyazki18 </small>
      </div>
    </footer>
  </div>
</body>
</html>
