<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../../assets/css/senior/style.css">
    <link rel="stylesheet" href="../../assets/css/pkg/semantic.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="../../assets/js/pkg/semantic.min.js"></script>
    <title>１８期生の就活</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="ui fixed borderless main menu">
        <div class="ui text container">
          <a href="../index.html" class="header item">
            <img class="logo" src="../../assets/images/nav/icon.png" style="margin-right: 1em;">就活ページ
          </a>
          <div class="ui right floated dropdown item">
            このDropにいろいろ
            <i class="dropdown icon"></i>
            <div class="menu transition hidden">
              <div class="item"><a href="../index.html">ホーム</a></div>
              <div class="divider"></div>
              <div class="item">
                18期生それぞれ
                <i class="dropdown icon"></i>
                <div class="menu">
                  <a class="item" href="#">学生01</a>
                  <a class="item" href="#">学生02</a>
                  <a class="item" href="#">学生03</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui main text container">
        <div class="row">
          <div class="column">
            <h1 id="title" class="ui header">１８期生の就活</h1>
            <h2 id="subtitle" class"#">ここに必要なら副題を</h2>
            <div class="ui divider"></div>
          </div>
        </div>
      </div>
      <div class="ui three grid container">
        <div class="three column row">
          <div class="column">
            <div class="ui segment">
              <div class="item">
                <div class="ui mini rounded image">
                  <img src="../../assets/images/senior/girl.jpg">
                </div>
                <div class="content">
                  <div class="header">
                    <a href="./show.html" class="header">名前を書く</a>
                  </div>
                  <div class="meta">
                    メタ情報を書く
                  </div>
                  <div class="description">
                    なにか適当に情報を書く
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="ui segment">
              <div class="ui mini rounded image">
                <img src="../../assets/images/senior/boy.jpg">
              </div>
            </div>
          </div>
          <div class="column">
            <div class="ui segment">
              <div class="ui mini rounded image">
                <img src="../../assets/images/senior/girl.jpg">
              </div>
            </div>
          </div>
        </div>
        <div class="three column row">
          <div class="column">
            <div class="ui segment">
              <div class="ui mini rounded image">
                <img src="../../assets/images/senior/boy.jpg">
              </div>
            </div>
          </div>
          <div class="column">
            <div class="ui segment">
              <div class="ui mini rounded image">
                <img src="../../assets/images/senior/girl.jpg">
              </div>
            </div>
          </div>
          <div class="column">
            <div class="ui segment">
              <div class="ui mini rounded image">
                <img src="../../assets/images/senior/boy.jpg">
              </div>
            </div>
          </div>
        </div>
        <div class="three column row">
          <div class="column">
            <div class="ui segment">
              <div class="ui mini rounded image">
                <img src="../../assets/images/senior/girl.jpg">
              </div>
            </div>
          </div>
          <div class="column">
            <div class="ui segment">
              <div class="ui mini rounded image">
                <img src="../../assets/images/senior/boy.jpg">
              </div>
            </div>
          </div>
          <div class="column">
            <div class="ui segment">
              <div class="ui mini rounded image">
                <img src="../../assets/images/senior/girl.jpg">
              </div>
            </div>
          </div>
        </div>
        <div class="three column row">
          <div class="column">
            <div class="ui segment">
              <div class="ui mini rounded image">
                <img src="../../assets/images/senior/boy.jpg">
              </div>
            </div>
          </div>
          <div class="column">
            <div class="ui segment">
              <div class="ui mini rounded image">
                <img src="../../assets/images/senior/girl.jpg">
              </div>
            </div>
          </div>
          <div class="column">
            <div class="ui segment">
              <div class="ui mini rounded image">
                <img src="../../assets/images/senior/boy.jpg">
              </div>
            </div>
          </div>
        </div>
        <div class="three column row">
          <div class="column">
            <div class="ui segment">
              <div class="ui mini rounded image">
                <img src="../../assets/images/senior/girl.jpg">
              </div>
            </div>
          </div>
          <div class="column">
            <div class="ui segment">
              <div class="ui mini rounded image">
                <img src="../../assets/images/senior/boy.jpg">
              </div>
            </div>
          </div>
          <div class="column">
            <div class="ui segment">
              <div class="ui mini rounded image">
                <img src="../../assets/images/senior/girl.jpg">
              </div>
            </div>
          </div>
        </div>
        <div class="three column row">
          <div class="column">
            <div class="ui segment">
              <div class="ui mini rounded image">
                <img src="../../assets/images/senior/boy.jpg">
              </div>
            </div>
          </div>
          <div class="column">
            <div class="ui segment">
              <div class="ui mini rounded image">
                <img src="../../assets/images/senior/girl.jpg">
              </div>
            </div>
          </div>
          <div class="column">
            <div class="ui segment">
              <div class="ui mini rounded image">
                <img src="../../assets/images/senior/boy.jpg">
              </div>
            </div>
          </div>
        </div>
        <div class="three column row">
          <div class="column">
            <div class="ui segment">
              <div class="ui mini rounded image">
                <img src="../../assets/images/senior/girl.jpg">
              </div>
            </div>
          </div>
          <div class="column">
            <div class="ui segment">
              <div class="ui mini rounded image">
                <img src="../../assets/images/senior/boy.jpg">
              </div>
            </div>
          </div>
          <div class="column">
            <div class="ui segment">
              <div class="ui mini rounded image">
                <img src="../../assets/images/senior/girl.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
