<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../../assets/css/senior/style.css">
    <link rel="stylesheet" href="../../assets/css/pkg/semantic.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="../../assets/js/pkg/semantic.min.js"></script>
    <title>１８期生の就活</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="ui container">
        <div class="ui fixed borderless main menu">
          <div class="ui text container">
            <a href="../index.html" class="header item">
              <img class="logo" src="../../assets/images/nav/icon.png" style="margin-right: 1em;">就活ページ
            </a>
            <div class="ui right floated dropdown item">
              このDropにいろいろ
              <i class="dropdown icon"></i>
              <div class="menu transition hidden">
                <div class="item"><a href="../index.html">ホーム</a></div>
                <div class="divider"></div>
                <div class="item">
                  18期生それぞれ
                  <i class="dropdown icon"></i>
                  <div class="menu">
                    <a class="item" href="#">学生01</a>
                    <a class="item" href="#">学生02</a>
                    <a class="item" href="#">学生03</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="ui main text container">
          <div class="row">
            <div class="column">
              <h1 id="title" class="ui header">１８期生の就活</h1>
              <h2 id="subtitle" class"#">ここに必要なら副題を</h2>
              <div class="ui divider"></div>
            </div>
          </div>
        </div>
<!-- 1行目 -->
        <div class="ui four cards">
          <div class="ui card">
            <div class="ui move reveal image">
              <div class="visible content">
                <img class="ui fluid image" src="../../assets/images/portrait/tom.jpg">
              </div>
              <div class="hidden content">
                <a href="./show.html"><img class="ui fluid image" src="../../assets/images/portrait/tom.jpg"></a>
              </div>
            </div>
            <div class="content">
              <div class="header">
                <!-- ここに名前を記入 -->
                宮崎太郎
              </div>
              <div class="meta">
                <!-- 差し支えなければ業種や職種を記入 -->
                <a class="group">IT系/SE職</a>
              </div>
              <div class="description">
                <!-- どんな就活だったかを一文で -->
                私の就活は波乱万丈でしたが、実りある結果となりました!
              </div>
            </div>
          </div>
          <div class="ui card">
            <div class="ui move reveal image">
              <div class="visible content">
                <img class="ui fluid image" src="../../assets/images/portrait/nan.jpg">
              </div>
              <div class="hidden content">
                <a href="./show.html"><img class="ui fluid image" src="../../assets/images/portrait/nan.jpg"></a>
              </div>
            </div>
            <div class="content">
              <div class="header">
                <!-- ここに名前を記入 -->
                宮崎花子
              </div>
              <div class="meta">
                <!-- 差し支えなければ業種や職種を記入 -->
                <a class="group">金融系/総合職</a>
              </div>
              <div class="description">
                <!-- どんな就活だったかを一文で -->
                圧・倒・的・成・長！！！</br>
                天・下・無・双！！！
              </div>
            </div>
          </div>
          <div class="ui card">
            <div class="ui move reveal image">
              <div class="visible content">
                <img class="ui fluid image" src="../../assets/images/portrait/tom.jpg">
              </div>
              <div class="hidden content">
                <a href="./show.html"><img class="ui fluid image" src="../../assets/images/portrait/tom.jpg"></a>
              </div>
            </div>
            <div class="content">
              <div class="header">
                <!-- ここに名前を記入 -->
                宮崎太郎
              </div>
              <div class="meta">
                <!-- 差し支えなければ業種や職種を記入 -->
                <a class="group">IT系/SE職</a>
              </div>
              <div class="description">
                <!-- どんな就活だったかを一文で -->
                私の就活は波乱万丈でしたが、実りある結果となりました!
              </div>
            </div>
          </div>
          <div class="ui card">
            <div class="ui move reveal image">
              <div class="visible content">
                <img class="ui fluid image" src="../../assets/images/portrait/nan.jpg">
              </div>
              <div class="hidden content">
                <a href="./show.html"><img class="ui fluid image" src="../../assets/images/portrait/nan.jpg"></a>
              </div>
            </div>
            <div class="content">
              <div class="header">
                <!-- ここに名前を記入 -->
                宮崎花子
              </div>
              <div class="meta">
                <!-- 差し支えなければ業種や職種を記入 -->
                <a class="group">金融系/総合職</a>
              </div>
              <div class="description">
                <!-- どんな就活だったかを一文で -->
                圧・倒・的・成・長！！！</br>
                天・下・無・双！！！
              </div>
            </div>
          </div>
        </div>
<!-- 2行目 -->
        <div class="ui four cards">
          <div class="ui card">
            <div class="ui move reveal image">
              <div class="visible content">
                <img class="ui fluid image" src="../../assets/images/portrait/tom.jpg">
              </div>
              <div class="hidden content">
                <a href="./show.html"><img class="ui fluid image" src="../../assets/images/portrait/tom.jpg"></a>
              </div>
            </div>
            <div class="content">
              <div class="header">
                <!-- ここに名前を記入 -->
                宮崎太郎
              </div>
              <div class="meta">
                <!-- 差し支えなければ業種や職種を記入 -->
                <a class="group">IT系/SE職</a>
              </div>
              <div class="description">
                <!-- どんな就活だったかを一文で -->
                私の就活は波乱万丈でしたが、実りある結果となりました!
              </div>
            </div>
          </div>
          <div class="ui card">
            <div class="ui move reveal image">
              <div class="visible content">
                <img class="ui fluid image" src="../../assets/images/portrait/nan.jpg">
              </div>
              <div class="hidden content">
                <a href="./show.html"><img class="ui fluid image" src="../../assets/images/portrait/nan.jpg"></a>
              </div>
            </div>
            <div class="content">
              <div class="header">
                <!-- ここに名前を記入 -->
                宮崎花子
              </div>
              <div class="meta">
                <!-- 差し支えなければ業種や職種を記入 -->
                <a class="group">金融系/総合職</a>
              </div>
              <div class="description">
                <!-- どんな就活だったかを一文で -->
                圧・倒・的・成・長！！！</br>
                天・下・無・双！！！
              </div>
            </div>
          </div>
          <div class="ui card">
            <div class="ui move reveal image">
              <div class="visible content">
                <img class="ui fluid image" src="../../assets/images/portrait/tom.jpg">
              </div>
              <div class="hidden content">
                <a href="./show.html"><img class="ui fluid image" src="../../assets/images/portrait/tom.jpg"></a>
              </div>
            </div>
            <div class="content">
              <div class="header">
                <!-- ここに名前を記入 -->
                宮崎太郎
              </div>
              <div class="meta">
                <!-- 差し支えなければ業種や職種を記入 -->
                <a class="group">IT系/SE職</a>
              </div>
              <div class="description">
                <!-- どんな就活だったかを一文で -->
                私の就活は波乱万丈でしたが、実りある結果となりました!
              </div>
            </div>
          </div>
          <div class="ui card">
            <div class="ui move reveal image">
              <div class="visible content">
                <img class="ui fluid image" src="../../assets/images/portrait/nan.jpg">
              </div>
              <div class="hidden content">
                <a href="./show.html"><img class="ui fluid image" src="../../assets/images/portrait/nan.jpg"></a>
              </div>
            </div>
            <div class="content">
              <div class="header">
                <!-- ここに名前を記入 -->
                宮崎花子
              </div>
              <div class="meta">
                <!-- 差し支えなければ業種や職種を記入 -->
                <a class="group">金融系/総合職</a>
              </div>
              <div class="description">
                <!-- どんな就活だったかを一文で -->
                圧・倒・的・成・長！！！</br>
                天・下・無・双！！！
              </div>
            </div>
          </div>
        </div>
<!-- 3行目 -->
        <div class="ui four cards">
          <div class="ui card">
            <div class="ui move reveal image">
              <div class="visible content">
                <img class="ui fluid image" src="../../assets/images/portrait/tom.jpg">
              </div>
              <div class="hidden content">
                <a href="./show.html"><img class="ui fluid image" src="../../assets/images/portrait/tom.jpg"></a>
              </div>
            </div>
            <div class="content">
              <div class="header">
                <!-- ここに名前を記入 -->
                宮崎太郎
              </div>
              <div class="meta">
                <!-- 差し支えなければ業種や職種を記入 -->
                <a class="group">IT系/SE職</a>
              </div>
              <div class="description">
                <!-- どんな就活だったかを一文で -->
                私の就活は波乱万丈でしたが、実りある結果となりました!
              </div>
            </div>
          </div>
          <div class="ui card">
            <div class="ui move reveal image">
              <div class="visible content">
                <img class="ui fluid image" src="../../assets/images/portrait/nan.jpg">
              </div>
              <div class="hidden content">
                <a href="./show.html"><img class="ui fluid image" src="../../assets/images/portrait/nan.jpg"></a>
              </div>
            </div>
            <div class="content">
              <div class="header">
                <!-- ここに名前を記入 -->
                宮崎花子
              </div>
              <div class="meta">
                <!-- 差し支えなければ業種や職種を記入 -->
                <a class="group">金融系/総合職</a>
              </div>
              <div class="description">
                <!-- どんな就活だったかを一文で -->
                圧・倒・的・成・長！！！</br>
                天・下・無・双！！！
              </div>
            </div>
          </div>
          <div class="ui card">
            <div class="ui move reveal image">
              <div class="visible content">
                <img class="ui fluid image" src="../../assets/images/portrait/tom.jpg">
              </div>
              <div class="hidden content">
                <a href="./show.html"><img class="ui fluid image" src="../../assets/images/portrait/tom.jpg"></a>
              </div>
            </div>
            <div class="content">
              <div class="header">
                <!-- ここに名前を記入 -->
                宮崎太郎
              </div>
              <div class="meta">
                <!-- 差し支えなければ業種や職種を記入 -->
                <a class="group">IT系/SE職</a>
              </div>
              <div class="description">
                <!-- どんな就活だったかを一文で -->
                私の就活は波乱万丈でしたが、実りある結果となりました!
              </div>
            </div>
          </div>
          <div class="ui card">
            <div class="ui move reveal image">
              <div class="visible content">
                <img class="ui fluid image" src="../../assets/images/portrait/nan.jpg">
              </div>
              <div class="hidden content">
                <a href="./show.html"><img class="ui fluid image" src="../../assets/images/portrait/nan.jpg"></a>
              </div>
            </div>
            <div class="content">
              <div class="header">
                <!-- ここに名前を記入 -->
                宮崎花子
              </div>
              <div class="meta">
                <!-- 差し支えなければ業種や職種を記入 -->
                <a class="group">金融系/総合職</a>
              </div>
              <div class="description">
                <!-- どんな就活だったかを一文で -->
                圧・倒・的・成・長！！！</br>
                天・下・無・双！！！
              </div>
            </div>
          </div>
        </div>
<!-- 4行目 -->
        <div class="ui four cards">
          <div class="ui card">
            <div class="ui move reveal image">
              <div class="visible content">
                <img class="ui fluid image" src="../../assets/images/portrait/tom.jpg">
              </div>
              <div class="hidden content">
                <a href="./show.html"><img class="ui fluid image" src="../../assets/images/portrait/tom.jpg"></a>
              </div>
            </div>
            <div class="content">
              <div class="header">
                <!-- ここに名前を記入 -->
                宮崎太郎
              </div>
              <div class="meta">
                <!-- 差し支えなければ業種や職種を記入 -->
                <a class="group">IT系/SE職</a>
              </div>
              <div class="description">
                <!-- どんな就活だったかを一文で -->
                私の就活は波乱万丈でしたが、実りある結果となりました!
              </div>
            </div>
          </div>
          <div class="ui card">
            <div class="ui move reveal image">
              <div class="visible content">
                <img class="ui fluid image" src="../../assets/images/portrait/nan.jpg">
              </div>
              <div class="hidden content">
                <a href="./show.html"><img class="ui fluid image" src="../../assets/images/portrait/nan.jpg"></a>
              </div>
            </div>
            <div class="content">
              <div class="header">
                <!-- ここに名前を記入 -->
                宮崎花子
              </div>
              <div class="meta">
                <!-- 差し支えなければ業種や職種を記入 -->
                <a class="group">金融系/総合職</a>
              </div>
              <div class="description">
                <!-- どんな就活だったかを一文で -->
                圧・倒・的・成・長！！！</br>
                天・下・無・双！！！
              </div>
            </div>
          </div>
          <div class="ui card">
            <div class="ui move reveal image">
              <div class="visible content">
                <img class="ui fluid image" src="../../assets/images/portrait/tom.jpg">
              </div>
              <div class="hidden content">
                <a href="./show.html"><img class="ui fluid image" src="../../assets/images/portrait/tom.jpg"></a>
              </div>
            </div>
            <div class="content">
              <div class="header">
                <!-- ここに名前を記入 -->
                宮崎太郎
              </div>
              <div class="meta">
                <!-- 差し支えなければ業種や職種を記入 -->
                <a class="group">IT系/SE職</a>
              </div>
              <div class="description">
                <!-- どんな就活だったかを一文で -->
                私の就活は波乱万丈でしたが、実りある結果となりました!
              </div>
            </div>
          </div>
          <div class="ui card">
            <div class="ui move reveal image">
              <div class="visible content">
                <img class="ui fluid image" src="../../assets/images/portrait/nan.jpg">
              </div>
              <div class="hidden content">
                <a href="./show.html"><img class="ui fluid image" src="../../assets/images/portrait/nan.jpg"></a>
              </div>
            </div>
            <div class="content">
              <div class="header">
                <!-- ここに名前を記入 -->
                宮崎花子
              </div>
              <div class="meta">
                <!-- 差し支えなければ業種や職種を記入 -->
                <a class="group">金融系/総合職</a>
              </div>
              <div class="description">
                <!-- どんな就活だったかを一文で -->
                圧・倒・的・成・長！！！</br>
                天・下・無・双！！！
              </div>
            </div>
          </div>
        </div>
        <!-- 5行目 -->
        <div class="ui four cards">
          <div class="ui card">
            <div class="ui move reveal image">
              <div class="visible content">
                <img class="ui fluid image" src="../../assets/images/portrait/tom.jpg">
              </div>
              <div class="hidden content">
                <a href="./show.html"><img class="ui fluid image" src="../../assets/images/portrait/tom.jpg"></a>
              </div>
            </div>
            <div class="content">
              <div class="header">
                <!-- ここに名前を記入 -->
                宮崎太郎
              </div>
              <div class="meta">
                <!-- 差し支えなければ業種や職種を記入 -->
                <a class="group">IT系/SE職</a>
              </div>
              <div class="description">
                <!-- どんな就活だったかを一文で -->
                私の就活は波乱万丈でしたが、実りある結果となりました!
              </div>
            </div>
          </div>
          <div class="ui card">
            <div class="ui move reveal image">
              <div class="visible content">
                <img class="ui fluid image" src="../../assets/images/portrait/nan.jpg">
              </div>
              <div class="hidden content">
                <a href="./show.html"><img class="ui fluid image" src="../../assets/images/portrait/nan.jpg"></a>
              </div>
            </div>
            <div class="content">
              <div class="header">
                <!-- ここに名前を記入 -->
                宮崎花子
              </div>
              <div class="meta">
                <!-- 差し支えなければ業種や職種を記入 -->
                <a class="group">金融系/総合職</a>
              </div>
              <div class="description">
                <!-- どんな就活だったかを一文で -->
                圧・倒・的・成・長！！！</br>
                天・下・無・双！！！
              </div>
            </div>
          </div>
          <div class="ui card">
            <div class="ui move reveal image">
              <div class="visible content">
                <img class="ui fluid image" src="../../assets/images/portrait/tom.jpg">
              </div>
              <div class="hidden content">
                <a href="./show.html"><img class="ui fluid image" src="../../assets/images/portrait/tom.jpg"></a>
              </div>
            </div>
            <div class="content">
              <div class="header">
                <!-- ここに名前を記入 -->
                宮崎太郎
              </div>
              <div class="meta">
                <!-- 差し支えなければ業種や職種を記入 -->
                <a class="group">IT系/SE職</a>
              </div>
              <div class="description">
                <!-- どんな就活だったかを一文で -->
                私の就活は波乱万丈でしたが、実りある結果となりました!
              </div>
            </div>
          </div>
          <div class="ui card">
            <div class="ui move reveal image">
              <div class="visible content">
                <img class="ui fluid image" src="../../assets/images/portrait/nan.jpg">
              </div>
              <div class="hidden content">
                <a href="./show.html"><img class="ui fluid image" src="../../assets/images/portrait/nan.jpg"></a>
              </div>
            </div>
            <div class="content">
              <div class="header">
                <!-- ここに名前を記入 -->
                宮崎花子
              </div>
              <div class="meta">
                <!-- 差し支えなければ業種や職種を記入 -->
                <a class="group">金融系/総合職</a>
              </div>
              <div class="description">
                <!-- どんな就活だったかを一文で -->
                圧・倒・的・成・長！！！</br>
                天・下・無・双！！！
              </div>
            </div>
          </div>
        </div>
        <div class="ui four cards">
          <div class="ui card">
            <div class="ui move reveal image">
              <div class="visible content">
                <img class="ui fluid image" src="../../assets/images/portrait/tom.jpg">
              </div>
              <div class="hidden content">
                <a href="./show.html"><img class="ui fluid image" src="../../assets/images/portrait/tom.jpg"></a>
              </div>
            </div>
            <div class="content">
              <div class="header">
                <!-- ここに名前を記入 -->
                宮崎太郎
              </div>
              <div class="meta">
                <!-- 差し支えなければ業種や職種を記入 -->
                <a class="group">IT系/SE職</a>
              </div>
              <div class="description">
                <!-- どんな就活だったかを一文で -->
                私の就活は波乱万丈でしたが、実りある結果となりました!
              </div>
            </div>
          </div>
        </div>
<!-- clear fixation -->
        <div style="clear: both; display: block"></div>
      </div>
    </div>
  </body>
</html>
