<!DOCTYPE HTML>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../../assets/css/pkg/semantic.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="../../assets/js/pkg/semantic.min.js"></script>
    <title>１８期生の就活</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="ui fixed borderless main menu">
        <div class="ui text container">
          <a href="../index.html" class="header item">
            <img class="logo" src="../../assets/images/nav/icon.png" style="margin-right: 1em;">就活ページ
          </a>
          <div class="ui right floated dropdown item">
            このDropにいろいろ
            <i class="dropdown icon"></i>
            <div class="menu transition hidden">
              <div class="item"><a href="../index.html">ホーム</a></div>
              <div class="divider"></div>
              <div class="item">
                18期生それぞれ
                <i class="dropdown icon"></i>
                <div class="menu">
                  <a class="item" href="#">学生01</a>
                  <a class="item" href="#">学生02</a>
                  <a class="item" href="#">学生03</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
