<!DOCTYPE HTML>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../../assets/css/senior/style.css">
    <link rel="stylesheet" href="../../assets/css/pkg/semantic.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="../../assets/js/pkg/semantic.min.js"></script>
    <script src="../../assets/js/senior/script.js"></script>
    <title>１８期生の就活</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="ui fixed borderless main menu">
        <div class="ui text container">
          <a href="../index.html" class="header item">
            <img class="logo" src="../../assets/images/nav/icon.png" style="margin-right: 1em;">就活ページ
          </a>
          <div class="ui right floated dropdown item">
            このDropにいろいろ
            <i class="dropdown icon"></i>
            <div class="menu transition hidden">
              <div class="item"><a href="../index.html">ホーム</a></div>
              <div class="divider"></div>
              <div class="item">
                18期生それぞれ
                <i class="dropdown icon"></i>
                <div class="menu">
                  <a class="item" href="./show.html">宮崎太郎</a>
                  <a class="item" href="./show.html">宮崎花子</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui container">
        <h1 id="title" class="ui dividing header">みやざきたろうです。</h1>
        <!-- 紹介ビデオなどを遅延読み込み & 基本情報 -->
        <h2 class="ui dividing header">VTR</h2>
        <div class="ui two column relaxed grid">
          <div class="column">
            <video class="ui medium rounded video" src="../../assets/movies/personal/movie.m4v" controls autoplay preload="metadata"></video>
          </div>
          <div class="column">
            <table class="ui very basic left aligned table">
              <thead>
                <tr>
                  <th class="left aligned">Question</th>
                  <th>Answer</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="left aligned">インターンは？</td>
                  <td>3社行きました</td>
                </tr>
                <tr>
                  <td class="left aligned">エントリー社数は？</td>
                  <td>40社くらいです</td>
                </tr>
                <tr>
                  <td class="left aligned">選考に進んだのは？</td>
                  <td>10社くらいかな</td>
                </tr>
                <tr>
                  <td class="left aligned">内定社数は？</td>
                  <td>3社からいただきました</td>
                </tr>
                <tr>
                  <td class="left aligned">ズバリその社名とは？</td>
                  <td>宮崎総合研究所のSE職など</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- Accordionで詳細情報を提供 -->
        <h2 class="ui dividing header">Q&A</h2>
        <div class="ui accordion float-free">
          <div class="title">
            <i class="dropdown icon"></i>
            就活を一言で表すと?
          </div>
          <div class="content">
            <p class="transition hidden">
              <!-- ここには質問の答えを記述 -->
              とっても大変でしたが、目指す結果を得られて良かった。
            </p>
          </div>
          <div class="title">
            <i class="dropdown icon"></i>
            夏＆冬のインターンは何を基準に選んだ?
          </div>
          <div class="content">
            <p class="transition hidden">
              <!-- ここには質問の答えを記述 -->
              夏はとりあえず有名どころを。<br />
              冬は自分が志望する業種で絞って通ったところに参加した。
            </p>
          </div>
          <div class="title">
            <i class="dropdown icon"></i>
            利用していた就活サイトは?
          </div>
          <div class="content">
            <p class="transition hidden">
              <!-- ここには質問の答えを記述 -->
              リクナビをメインで使ってました。<br />
              だいたいみんなと同じ感じかな。<br />
              エンジニア職限定の就活サイトとか、ユニークなものも活用してたかな。
            </p>
          </div>
          <div class="title">
            <i class="dropdown icon"></i>
            「みんしゅう」見てた?
          </div>
          <div class="content">
            <p class="transition hidden">
              <!-- ここには質問の答えを記述 -->
              もちろん(笑)<br />
              就活は前準備と情報戦だと心得てました。
            </p>
          </div>
          <div class="title">
            <i class="dropdown icon"></i>
            これから就活を始める後輩たちに一言お願いします。
          </div>
          <div class="content">
            <p class="transition hidden">
              <!-- ここには質問の答えを記述 -->
              就活はみんなしんどいとかつらいとか言ってるけど、自分にとってもその通りでした。<br />
              宮崎ゼミは面接などで話すネタにはまず困らない学生生活をあたえてくれています。自ずから話せることは見つかるはずなので、
              そういった学生生活で得たものをどのようにうまく伝えるかを意識して就活に臨めば内定はつかみ取れるとおもいます。<br />
              いろいろ不安もあると思うけど、みんなも頑張ってください！！！
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
